In [2]:
import pandas as pd
import numpy as np
import os, sys, pickle, xlrd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

pd.options.display.max_rows = 500
pd.options.display.max_columns = 500
pd.options.display.max_colwidth = 100

In [3]:
PATH = "F:/Data/Projects AB/september/amazonReviewsTelekom.txt"
df = pd.read_csv(PATH, sep="\t", encoding="Utf8")
# df.shape
# df.head()

In [4]:
df["ReviewID"] = df.col1.apply(lambda txt: txt.split(",")[0])
df["Reviewer"] = df.col1.apply(lambda txt: txt.split(",")[1])
df["Date"]     = df.col3.apply(lambda txt: txt.split(",")[1])
df["Date"]     = df.Date.str.replace("Rezension aus Deutschland vom ","").str.strip('"')
df["Year"]     = df.Date.apply(lambda txt: txt.split()[2])
df["Model"]    = df.col3.apply(lambda txt: txt.split(",")[-1]).str.strip('"')
df["Helpful"]  = df.col3.apply(lambda txt: txt.split(",")[-2]).str.strip('"')
df["Pic"]       = df.col3.apply(lambda txt: txt.split(",")[-3]).str.strip('"')

# Rating Information aus String-Spalte extrahieren
temp = df.col3.str.split('"', expand = True)
rating = temp.iloc[:,3]
df["Rating"] = rating.str.strip(",")
df.Rating = pd.to_numeric(df.Rating)
df.Rating = df.Rating.fillna(0).astype(int)

# Aufräumen
del temp
del rating
df.drop(["col1", "col3"], axis=1, inplace=True)

# Info
df.head()
df.Rating.value_counts()

,txt,ReviewID,Reviewer,Date,Year,Model,Helpful,Pic,Rating
0,"Da ich meinen gemieteten Router W724V zurückgeben wollte, habe ich mir den Smart 3 geholt.Wenn...",R1FROCDL8A2QAT,"""T. Speckmaier""",8. September 2018,2018,Smart 3,248,,5
1,Top. Nach 3-5 Minuten hatte sich der Speedport selbst konfiguriert und alle Daten direkt vom T...,R29OVMD7E0H0H9,"""Andreas Gertzen""",14. Oktober 2018,2018,Smart 3,79,,5
2,Da ich mich für die 250Mbit interessiere sollte der W724V ersetz werden. Also ausgetauscht gew...,RZWR35KTVEE61,"""Ulrich Loose""",22. Dezember 2018,2018,Smart 3,62,,4
3,Nachdem mein alter Router ein wenig in die Jahre gekommen ist und kaum noch Updates oder Weite...,R3KC8ODKQXPJNR,"""Thomas Kummer""",5. Januar 2019,2019,Smart 3,61,,5
4,Der Router ist bei mir während der Verwendung von Fire TV über WLAN reproduzierbar eingefroren...,R7Q03ORM42429,"""Thomas""",24. Oktober 2018,2018,Smart 3,66,,1

5    438
1     71
4     68
2     20
3     16
0      3
Name: Rating, dtype: int64

In [ ]:
df.Rating.describe()